/* My Store Section */
.store-section {
    margin-top: 50px;
  }
  
  .store-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 20px;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product {
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    width: 100%;
    border-radius: 8px;
  }
  
  .product-details {
    margin-top: 15px;
  }
  
  .product-details h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark);
  }
  
  .product-details .description {
    font-size: 14px;
    color: var(--dark-grey);
    margin-top: 8px;
  }
  
  .product-details .price {
    font-size: 16px;
    font-weight: bold;
    color: var(--blue);
    margin-top: 12px;
  }
  